// Sample configuration file
// Copy this to 'config' to use

{
	// Potential IRC connections. The key is the name of the connection, used
	// on the command-line. The value is a map of settings. If no names are
	// specified on the command-line, 'default' will be used
	connections: {
		default: {
			server: 'irc.freenode.net',
			port: 6667,
			nick: 'noisebot',
			// password: '',
			// modules: ['Help'],   // Lock the module list to just these modules
                                    // Otherwise modules can be dynamically controlled with .load/.unload
			channels: ['#freenode']
		}
	},

	// The owner/maintainer of the bot. Some commands can only be run by the bot owner
	// All specified fields must match, but you can choose any combination to require
	// (however, specifying none will disable owner commands)
	owner: {
		// nick: 'nick',
		// hostname: 'example.com',
		// account: 'nickserv account'
	},

	// Per-module configuration
	modules: {
		Backronym: {
			dictionary-file: '/usr/share/dict/words'
		},
		Imgur: {
			// client-id: ''
		},
		Translate: {
			// key: ''
		},
		Twitter: {
			// key: '',
			// secret: ''
		}
	}
}
